/*单行省略*/
@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*多行省略*/
@mixin moreline-ellipsis($line: 2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}
/*清除浮动*/
@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
